
[submodule "protobuf"]
	path = engine/src/main/cpp/3rd/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	branch = 25.x
[submodule "lua"]
	path = engine/src/main/cpp/3rd/lua
	url = https://github.com/lua/lua.git
	branch = v5.4
[submodule "libhv"]
	path = engine/src/main/cpp/3rd/libhv
	url = https://github.com/ithewei/libhv.git
[submodule "cjson"]
	path = engine/src/main/cpp/3rd/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "libjpeg"]
	path = engine/src/main/cpp/3rd/libjpeg
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "autolua_vision"]
	path = engine/src/main/cpp/3rd/autolua_vision
	url = https://github.com/lizhizhuanshu/autolua_vision.git
